:root{
    --color-primary: #1c1515;
    --color-primary-dark: ;
    --color-primary-light: #;

    --color-secondary: #fea200;
    --color-secondary-dark: ;
    --color-secondary-light: #;

    --color-tertiary:#f8f9fa;

    

}